/*
  colors Used:
  Background (White): white, #fcfcfc;
  Text (Black): #111111;
  Primary color (Dark Pastel Green): #00BC4E;
  Secondary color (Forest Green): #008F3C;
*/
/* font-family: 'Nunito Sans', sans-serif; */
/* Layout Styling */

 * {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

main {
  padding-top: 101px;
}

header {
  text-align: center;
  width: 100%;
  padding: 20px 0px 5px;
  position: fixed;
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.45);
-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.45);
box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.45);
}

h1, h2, h3, h4 {
  line-height: 1.2;
}

h1 {
  font-size: 2.75em;
  font-weight: 900;
}

h2 {
  font-size: 2.25em;
  font-weight: 900;
}

h3 {
  font-size: 1.75em;
  font-weight: 700;
}

h4 {
  font-size: 1.25em;
  font-weight: 400;
}

p {
  margin: 5px 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #00BC4E;
}

a:active {
  color: #008F3C;
}

a:visited {
  color: #00BC4E;
}

a:hover,
a:focus{
  color: #008F3C;
  text-decoration: underline;
}

.button {
  display: inline-block;
  background-color: transparent;
  color: #111111;
  font-weight: 400;
  padding: 5px;
  border: 2px solid #00BC4E;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: #00BC4E;
  color: #fcfcfc;
  text-decoration: none;
}

.social {
  padding-top: 10px;
}

.icon {
  display: inline-block;
  width: 2em;
}

/*Layout Styling */

#hero {
  display: block;
  width: 100%;
}

#hero span {
  display: block;
}

#work {
  padding-top: 15px;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: .5px solid #e6e6e6;
}

#contact {
  padding-top: 15px;
  padding-bottom: 15px;
}

.container {
  padding: 15px;
}

.logo {
  padding: 5px;
  text-decoration-line: underline;
  font-weight: 900;
  font-style: italic;
}

nav > ul {
  list-style: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 10px 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.columns {
  display: inline-block;
  align-content:
}

.column {
  display: inline-block;
  padding: 0px 10px;
}

.portrait {
  float: right;
  padding: 20px;
}

.competitors {
  padding: 20px;
}
